/* WORKSHOP CARD CSS */
.wkspcard {
  height: inherit;
  background-color: white;
  color: white;
  margin-top: 10px;
  margin-bottom: 7px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 10px;
  width:25%;
  height: 300px;
  position: relative;
  padding-top: 20px;
  padding-left: 10px;

  }

  /* DATE, LOCATION, ETC */
  .wkspDetails {
    text-align: left;
    color: black;
    font-size: 15.5px;
    font-family: "Avenir Next";
    padding: .7rem;
    line-height: .2em;
  }

  .titleColor {
    text-align: left;
    color: #483030;
    font-size: 15.5px;
    font-family: "Avenir Next";
  }
